<!-- ko if: isVisible -->
<button data-bind="css: {
        active: isActive,
        'btn-default': contextualClass.isDefault,
        'btn-primary': contextualClass.isPrimary,
        'btn-secondary': contextualClass.isSecondary,
        'btn-light': contextualClass.isLight,
        'btn-dark': contextualClass.isDark,
        'btn-warning': contextualClass.isWarning,
        'btn-info': contextualClass.isInfo,
        'btn-danger': contextualClass.isDanger
        },
        attr: {
            title: title
        },
        click: requestExecute,
        enable: isEnabled" class="btn">
    <!-- ko with: icon -->
    <!-- ko component: { name: componentName, params: $data } --><!-- /ko -->
    <!-- /ko -->
    <span data-bind="text: text, attr: { 'class': textCss }"></span>
</button>
<!-- /ko -->