@{
    var form = new AddEmployeeForm();
}
<form class="pt-3">
    <xti-field field="form.EmployeeName"></xti-field>
    <xti-field field="form.BirthDate"></xti-field>
    <xti-field field="form.Department"></xti-field>
    <xti-field field="form.Address"></xti-field>
    <ko-with value="@form.Department.Name">
        <div>Testing ko with</div>
        <div data-bind="text: value.value"></div>
    </ko-with>
</form>